
@{
    ViewData["Title"] = "Kullanıcı Güncelle";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

@model MemleketKütüphanesi_.Models.User

<!-- updateUser start -->
<div class="rounded-4 m-4 px-4 pt-4 pb-3" style="background-color: #f8f9fa;box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; width: 100%;">
    <div class="d-flex align-items-center">
        <!-- Değişiklik yapılacak kullanıcının Tc Nosu -->
        <form class="d-flex align-items-center" asp-controller="Dashboard" asp-action="_UpdateUser" method="post">
            <label for="userTc" class="fw-semibold me-3" style="font-size: 14px;">Kullanıcı Tc Kimlik Numarası :</label>
            <input style="max-width: 40%;" type="number" id="userTc" class="form-control" asp-for="TcNo">
            <button class="btn btn-outline-dark ms-2" style="font-size: 12px;">Kontrol Et</button>
        </form>
        <span class="text-danger" style="font-size : 12px;">@ViewBag.ErrorMessage</span>
    </div>
    <div class="mt-4">
        <!-- Değişiklik yapılacak kişi varsa tablodaki diğer tüm bilgileri -->
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">İsim</th>
                    <th scope="col">Soyisim</th>
                    <th scope="col">Tc</th>
                    <th scope="col">E-mail</th>
                    <th scope="col">Cinsiyet</th>
                    <th scope="col">Doğum Tarihi</th>
                    <th scope="col">Telefon Numarası</th>
                    <th scope="col">Ceza Puanı</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@ViewBag.name</td>
                    <td>@ViewBag.surname</td>
                    <td>@ViewBag.tc</td>
                    <td>@ViewBag.email</td>
                    <td>@ViewBag.gender</td>
                    <td>@ViewBag.birthday</td>
                    <td>@ViewBag.phone</td>
                    <td>@ViewBag.reports</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="pt-3">
        <!-- Kullanıcın değişiklik yapılacak bilgileri -->
        <form asp-controller="Dashboard" asp-action="SetUserUpdate" method="post">
            <div class="row">
                <div class="col-6">
                    <div class="d-flex align-items-center mb-3">
                        <label for="txtUserName" class="fw-semibold" style="width: 90px; font-size : 13px;">İsim</label>
                        <input type="text" id="txtUserName" style="max-width:50%;" class="form-control" value="@ViewBag.name" asp-for="Name">
                    </div>
                    <div class="d-flex align-items-center mb-3">
                        <label for="txtuserSurname" class="fw-semibold" style="width: 90px; font-size : 13px;">Soyisim</label>
                        <input type="text" id="txtuserSurname" style="max-width:50%;" class="form-control" value="@ViewBag.surname" asp-for="Surname">
                    </div>
                    
                    <div class="d-flex align-items-center mb-3">
                        <label for="txtEmail" class="fw-semibold" style="width: 90px; font-size : 13px;">E-Posta</label>
                        <input type="text" id="txtEmail" style="max-width:50%;" class="form-control" value="@ViewBag.email" asp-for="Email">
                    </div>
                </div>
                <div class="col-6">
                    <div class="d-flex align-items-center mb-3">
                        <label for="txtBirthday" class="fw-semibold" style="width: 90px; font-size : 13px;">Doğum Tarihi</label>
                        <input type="text" id="txtBirthday" style="max-width:50%;" class="form-control" value="@ViewBag.birthday" asp-for="BirthDay">
                    </div>
                    <div class="d-flex align-items-center mb-3">
                        <label for="txtPhoneNumber" class="fw-semibold" style="width: 90px; font-size : 13px;">Telefon Numarası</label>
                        <input type="text" id="txtPhoneNumber" style="max-width:50%;" class="form-control" value="@ViewBag.phone" asp-for="PhoneNumber">
                    </div>
                    <div class="d-flex align-items-center mb-3">
                        <label for="txtReportsTo" class="fw-semibold" style="width: 90px; font-size : 13px;">Ceza Puanı</label>
                        <input type="text" id="txtReportsTo" style="max-width:50%;" class="form-control" value="@ViewBag.reports" asp-for="ReportsTo">
                    </div>
                    <button class="btn btn-outline-dark" style="font-size: 12px;margin-left:53%;">Güncelle</button>
                    <div class="mt-2">
                        <span class="text-success" style="font-size: 13px; margin-left: 37%;">@ViewBag.SuccessMessage @ViewBag.ErrorMessageUpdate</span>
                    </div>
                    <div class="d-flex align-items-center mb-3">
                        <label for="txtTc" class="fw-semibold" style="width: 90px; font-size : 13px; display : none;">Tc</label>
                        <input type="text" id="txtTc" style="max-width:50%; display : none" class="form-control" value="@ViewBag.tc" asp-for="TcNo">
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- updateUser end -->

